@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

* {
    font-family: Helvetica, Arial, sans-serif;
    background-color: rgb(234, 234, 234);
    box-sizing: border-box;
}

body {
    padding: 60px;
}

input {
    background-color: white;
    border-radius: 5px;
    border: 1px solid rgb(97, 32, 158);
    color: black;
    font-size: 1.2rem;
    outline: none;
    padding: 10px 15px;
    width: 100%;
}

h2 {
    font-size: 1.5rem;
}

h3 {
    font-size: 1.8rem;
    margin-bottom: 5px;
}

.row {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.column {
    flex: 100%;
    max-width: 100%;
    padding: 0 4px;
}

.card {
    position: relative;
    align-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 8px;
    background-color: white;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.03);
    overflow: hidden;
    vertical-align: middle;
    transition: box-shadow .2s ease-in-out;
}

.card:hover {
    -webkit-box-shadow: 4px 4px 0px 0px rgba(124, 15, 207, 1);
    -moz-box-shadow: 4px 4px 0px 0px rgba(124, 15, 207, 1);
    box-shadow: 4px 4px 0px 0px rgba(124, 15, 207, 1);
}

.card img {
    width: 100%;
    overflow: hidden;
    transition: transform .2s ease-in-out;
}

.card:hover img {
    transform: scale(1.4);
}

.card img:hover~p {
    display: block;
}


.card p {
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    position: absolute;
    padding: 0 20px 10px 20px;
    width: 100%;
    height: 100%;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    text-align: center;
    color: white;
    background: #280046;
    background: linear-gradient(0deg, rgba(40, 0, 70, 1) 0%, rgba(45, 157, 253, 0) 73%);
    transition: opacity .2s ease-in-out;
}

.card p:hover {
    opacity: 100;
    backdrop-filter: brightness(40%);
}

@media screen and (min-width: 600px) {
    .column {
        flex: 50%;
        max-width: 50%;
    }

    .card p {
        font-size: 1.2rem;
    }

    h3 {
        font-size: 2.4rem;
    }
}

@media screen and (min-width: 1000px) {
    .column {
        flex: 25%;
        max-width: 25%;
    }

    .card p {
        font-size: 1.5rem;
    }

    h3 {
        font-size: 3rem;
    }
}